<div class="card-body" >
  <form [formGroup]="hobbyForm" >
      <div class="input-group mb-3">
          <input type="text" name="hobby" placeholder="entrer un loisir" formControlName="hobby" class="form-control" aria-describedby="basic-addon2">
      </div>
    
     
    <div formArrayName="newHobby">
      <div class="input-group mb-3" *ngFor="let new of newHobby().controls; let i=index" [formGroupName]="i">  
        <input type="text" name="interet"placeholder="entrer un loisir" formControlName="interet" aria-describedby="basic-addon2" class="form-control">  
        <span class="input-group-text" id="basic-addon2">
          <i type="button" (click)="deleteNew(i)" class="fa fa-trash" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    
    <button mat-raised-button (click)="saveHobby($event)" type="submit" [disabled]="hobbyForm.get('hobby').value === ''" color="primary"><mat-icon>done</mat-icon>
      Terminé</button>
    
      <button (click)="addItem($event)" color="primary" style="font-size:18px; margin-left:300px;" mat-raised-button type="submit"><mat-icon>add</mat-icon>
      </button>
    
  </form>
  
</div>
 
