
	


/* ==== Typography Css ==== */
h1,h2,h3,h4,h5,h6 {
	font-weight: 700 !important;
}

h1 {
	font-size: 51.87px !important;
	color: #282b4a !important;
}

h2 {
	font-size: 41.23px !important;
}

h3{
    font-size: 20.93px !important;
}

p, .more, .form-control, .readlink, .readmores, li, td, .form-select{
    color: #4b4b4b !important;
	font-size: 15.96px !important;
	font-weight: 500 !important;
}


.container {
	max-width: 1000px !important;
}

#btnbtn:hover{
	background-color: rgba(183, 181, 181, 0.368);
}



  
