/* ==== Typography Css ==== */
h1,h2,h3,h4,h5,h6 {
	font-weight: 700 !important;
}

h1 {
	font-size: 51.87px !important;
	color: #282b4a !important;
}

h2 {
	font-size: 41.23px !important;
}

h3{
    font-size: 20.93px !important;
}

p, .more, .form-control, .readlink, .readmores, li, td, .form-select{
    color: #4b4b4b !important;
	font-size: 15.96px !important;
	font-weight: 500 !important;
}


.container {
	max-width: 1000px !important;
}
img {
	padding-left: 20px;
	height: 100px; /* Définit la hauteur de l'image à 80 pixels */
	border: 1px solid #000; /* Bordure solide d'une largeur de 1 pixel et couleur noire */
	border-radius: 5px; /* Ajoute un arrondi aux coins de l'image */
	padding: 10px; /* Ajoute un espace à l'intérieur de la bordure */
  }
  input.form-control {
	transition: border-color 0.3s ease;
  }
  
  input.form-control:focus {
	border-color: #ff0000;
  }
  
  input.form-control.ng-invalid {
	border-color: #ff0000;
	animation: shake 0.5s;
  }
  
  @keyframes shake {
	0% {
	  transform: translateX(0);
	}
	25% {
	  transform: translateX(-10px);
	}
	50% {
	  transform: translateX(10px);
	}
	75% {
	  transform: translateX(-10px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  