
<div class="cv-container" *ngIf="cvData">
  <div class="choose-button" style="display: none;">
    <button class="rounded-pill">Choisir ce modèle</button>
</div>
  <div class="left-column">
    <img  [src]=" cvData?.entete?.image"height="100"  />
   
    <div class="section">
      <h2>Contact</h2>
      
        <ul class="skills">
          <li><i class="icon fas fa-at text-darkblue"></i> {{ cvData?.contact?.mail }}</li>
          <li><i class="icon fas fa-phone text-darkblue"></i> {{ cvData?.contact?.tel }}</li>
          <li><i class="icon fas fa-map-marker-alt text-darkblue"></i>{{ cvData?.contact?.adresse  }}</li>
        </ul>
      
    </div>
    
    <div class="section">
      <h2>COMPÉTENCES</h2>
      <ul class="skills"*ngFor="let competence of cvData?.competence?.competence">
        <li><i class="icon fas fa-check-circle text-darkblue"></i> {{competence}}</li>
      </ul>
    </div>
    <div class="section">
      <h2>Langues</h2>
      <ul class="skills"*ngFor="let langue of cvData?.langue?.langue">
        <li><i class="icon fas fa-check-circle text-darkblue"></i> {{langue}}</li>
      </ul>
    </div>
    <div class="section">
      <h2>Centres d'intérêt</h2>
      <ul class="skills"*ngFor="let interet of cvData?.centreInteret?.interet">
        <li><i class="icon fas fa-check-circle text-darkblue"></i> {{interet}}</li>
     
      </ul>
    </div>
  </div>
  <div class="right-column">
    <div class="header">
      <div class="hotkey">
        <h1 >{{ cvData?.entete?.nom }} {{ cvData?.entete?.prenom }} </h1>
        <p>{{ cvData?.entete?.profession }}</p>
    </div>
     
    </div>
    <div class="content">
      <div class="section">
        <h2>EXPERIENCE PROFESSIONNELLE</h2>
        <ul *ngIf="cvData?.experience?.experience?.length > 0">
          <li *ngFor="let experienceItem of cvData?.experience?.experience"class="experience-item">
            <div ><strong > {{ experienceItem.poste }}</strong></div>
            <div>{{ experienceItem.entreprise }}</div>
            <div> <h6 style="color: gray;">{{ experienceItem.dateDeb | date }} <i class="fas fa-long-arrow-alt-right"></i> {{ experienceItem.dateFin | date }}</h6></div>
            <div>{{ experienceItem.description }}</div>
          </li>
      
        </ul>
        
        <p *ngIf="!cvData?.formation?.formation || cvData?.formation?.formation?.length === 0">Aucune experience disponible.</p></div>
      <div class="section">
        <h2>Formation</h2>
        <ul *ngIf="cvData?.formation?.formation?.length > 0">
          <li *ngFor="let formationItem of cvData?.formation?.formation"class="experience-item">
            <div ><strong > {{ formationItem.dateDeb | date }} <i class="fas fa-long-arrow-alt-right"></i> {{ formationItem.dateFin | date }}</strong></div>
            <div>{{ formationItem.diplome }}</div>
            <div>{{ formationItem.etablissement }}</div>
          </li>
        </ul>
        <p *ngIf="!cvData?.formation?.formation || cvData?.formation?.formation?.length === 0">Aucune formation disponible.</p>
      </div>
      
 
    </div>
  </div>
</div> 




  

 
 
