<form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <div class="form-group row"style="padding: 10px;">

        <div class="col-md-6">
            <label>Telephone</label>
            <input type="tel" id="tel" name="tel" class="form-control" placeholder="Téléphone" formControlName="tel"
               >
            <div *ngIf="tel?.touched && tel?.invalid">
                <small class="text-danger" *ngIf="tel?.errors?.['required']">Numéro de téléphone
                    est obligatoire</small>
            </div>
        </div>
        <div class="col-md-6">
            <label>Adresse mail</label>
            <input type="text" id="mail" name="mail" class="form-control" formControlName="mail">

        </div>
        <div class="form-group row"style="padding: 10px;">	
            <div class="col-md-6">
              <label>Adresse postale</label>
              <input type="text" name="adresse" id="adresse" class="form-control" placeholder="Adresse"
                formControlName="adresse">
            </div>
        </div>    
        <div class="col-md-12" style="margin-top: 10px;">
            <button mat-raised-button type="submit" color="primary"><mat-icon>done</mat-icon>
				Terminé</button>
  
        </div>
    </div>
 


</form>