<div class="card-body">
  <form [formGroup]="langueForm" (ngSubmit)="saveLangue()">
    <div formArrayName="langue"class="input-group mb-3"*ngFor="let control of existingLangue().controls; let i = index">
     
      <input type="text" class="form-control" aria-describedby="basic-addon2" [formControlName]="i">
      <span class="input-group-text" id="basic-addon2">
        <i type="button" (click)="delete(i)" class="fa fa-trash" aria-hidden="true"></i>
      </span>
      
    </div>
    <div formArrayName="newBloc">
      <div class="input-group mb-3" *ngFor="let new of newBloc().controls; let i=index" [formGroupName]="i">
        <input type="text" name="newL" formControlName="newL" aria-describedby="basic-addon2" class="form-control">
        <span class="input-group-text" id="basic-addon2">
          <i type="button" (click)="deleteNew(i)" class="fa fa-trash" aria-hidden="true"></i>
        </span>
      </div>
    </div>

    <button  style="font-size:18px" class="btn btn-primary" >
      <span class="glyphicon glyphicon-ok"></span> Terminé
    </button>

    <button type="button" (click)="addNewBlocLangue()" style="font-size:18px; margin-left:300px;" class="btn btn-primary">
      <i class="bi bi-plus-square"></i>
    </button>
  </form>
</div> 

