<div class="card-body">
    <form [formGroup]="intForm">
      <div formArrayName="interet" class="input-group mb-3" *ngFor="let int of existingInt().controls; let i=index">
        <input type="text" class="form-control" aria-describedby="basic-addon2" [formControlName]="i">
        <span class="input-group-text" id="basic-addon2">
          <i type="button" (click)="delete(i)" class="fa fa-trash" aria-hidden="true"></i>
        </span>
      </div>
  
      <div formArrayName="newInt">
        <div class="input-group mb-3" *ngFor="let new of newInter().controls; let i=index" [formGroupName]="i">
          <input type="text" name="inter" placeholder="Interet" formControlName="inter" aria-describedby="basic-addon2" class="form-control">
          <span class="input-group-text" id="basic-addon2">
            <i type="button" (click)="deleteNew(i)" class="fa fa-trash" aria-hidden="true"></i>
          </span>
        </div>
      </div>
  
      <button mat-raised-button (click)="saveInteret($event)" type="submit" [disabled]="intForm.get('interet').value === ''" color="primary"><mat-icon>done</mat-icon>
        Terminé</button>
      
        <button (click)="addItem($event)" color="primary" style="font-size:18px; margin-left:300px;" mat-raised-button type="submit"><mat-icon>add</mat-icon>
        </button>
    </form>
  </div>
  
  
