<div class="div-main">


    <div class="row d-flex justify-content-center py-4">
        <div class="col-10">


            <main style="border: 1px solid rgba(128, 128, 128, 0.546);">  
  
                
                
                
                <div  style="background-image: url('../../../../../../assets/images/bg.jpg'); padding: 2em; text-align: center;background-size: cover;background-position: fixed;color: white;">
                    <div>
                        <img style="border-radius: 50%;max-width: 150px;" src="../../../../../../assets/images/pict-user.jpg" />
                    </div>
                    <h1>Ocat Verdigris</h1>
                </div>
                <section>
                    <h3>Skills</h3>
                    <div class='skills'>
                        <div class='column'>
                            <h4>Good knowledge</h4>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS</li>
                                <li>JavaScript ES5/6</li>
                                <li>SQL</li>
                            </ul>
                        </div>
                        <div class='column'>
                            <h4>Basic knowledge</h4>
                            <ul>
                                <li>jQuery</li>
                                <li>NodeJS</li>
                                <li>MongoDB</li>
                                <li>Django</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Languages</h4>
                            <p>🇵🇱 Polish - Native speaker</p>
                            <p>🇬🇧 English - Proficient C1/C2</p>
                            <p>🇫🇷 French - Advanced - C1</p>
                            <p>🇪🇸 Spanish - Intermediate - B1/B2</p>
                            <p>🇩🇪 German - Elementary / Communicative - A2</p>
                        </div>
                    </div>
                </section>

                <section>
                    <h3>Education</h3>
                    <article>
                        <div class='school'>
                            <span>2015-2018</span> <strong>Octocats tech academy</strong>
                        </div>
                        <div class="descrition">
                            Bechelor Degree of Octorobotics
                        </div>
                    </article>
                    <article>
                        <div class='school'>
                            <span>2012-2015</span> <strong>Underwater kittens high school</strong>
                        </div>
                        <div>
                            Main subject: Cathemathics
                        </div>
                    </article>
                </section>
                <section>
                    <h3>Experience</h3>
                    <article>
                        <div class='job-title'>
                            <span>03.2018 - 06.2018</span> <strong>Tentacles Company</strong><br>
                            <strong>Position:</strong> Web developer Intern
                        </div>
                        <div>
                            <p><strong>Tech stack:</strong> HTML5 / CSS / JavaScript / jQuery</p>
                            <ul class="job-description">
                                <li>Develop web application for Octopoda departments</li>
                                <li>Implement UI (front-end site) based on received graphic design and requirements</li>
                                <li>Co-operate with the back-end team </li>
                            </ul>
                        </div>
                    </article>
                </section>
            </main>

        </div>
    </div>
</div>