<div class="container">
	<h3 class="pt-5">ENTETE
	
		<span class="pull-right">
			
				<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
			
		</span>
	</h3>
	
	<div class="py-5">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<div class="text-center">
					<img alt="Andrew Jones" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle img-responsive mt-2" width="80" height="80">
					<i type="button"class="material-icons">&#xe439;</i>
					<div class="mt-2">
						<input type="file" class="form-control">
					</div>
				</div>
			</div>
		  </div>
		<div class="form-group row">	
			<div class="col-sm-6">
				<input type="text" name="firstname" id="firstName" class="form-control" placeholder="Frist Name" value="" required>
			</div>
			<div class="col-sm-6">
				<input type="text" name="lastname" id="lastName" class="form-control" placeholder="Last Name" value="" required>
			</div>
		</div>
		<div class="form-group row">	
			<div class="col-sm-6">
				<input type="text" name="profession" id="profession" class="form-control" placeholder="profession" value="" required>
			</div>
		
		</div>
		
			<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
		
	</div>
	
	<div id="demo-accordion-collapse" role="tablist">
	  <div class="card">
		<div class="card-header" role="tab" id="accord1">
			<h3 data-toggle="collapse" class="pt-5 " href="#collapse-pane-1" role="button" aria-expanded="true" aria-controls="collapse-pane-1">
			  CONTACT
			  <span class="pull-right">
				<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
			  </span>
			</h3>
		</div>	 
	
		<div id="collapse-pane-1" class="collapse show" role="tabpanel" aria-labelledby="accord1" data-parent="#demo-accordion-collapse">
		  <div class="card-body">
			<form >
			<div class="form-group row" >	
							
				<div class="col-sm-6">
					<input type="number" name="tel"  class="form-control"  placeholder="Téléphone">
					
				</div>
				<div class="col-sm-6" >
					<input type="text" name="mail"  class="form-control" [(ngModel)]="contact[1]"  required>
				</div>
			</div>
			<div class="form-group row">	
				
				<div class="col-sm-6">
					<input type="text" name="adresse" id="adresse" class="form-control" placeholder="Adresse" value="" required>
				</div>
			</div>
			<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
			</form>
		</div>
		
	  </div>
	  <div class="card">
		<div class="card-header" role="tab" id="accord2">
		  <h5 class="mb-0">
			<h3 class="pt-5 " data-toggle="collapse" href="#collapse-pane-2" role="button" aria-expanded="false" aria-controls="collapse-pane-2">
				COMPETENCE
				<span class="pull-right">
					<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
				  </span>
			</h3>
		  </h5>
		</div>
		<div id="collapse-pane-2" class="collapse" role="tabpanel" aria-labelledby="accord2" data-parent="#demo-accordion-collapse">
		  <div class="card-body">
			<div class="form-group row">
				<div class="col-sm-6">
					<h5 class="text-black">Logiciels:</h5>	
				</div>
				<div class="col-sm-6">
					<input type="text" name="logiciel" id="logiciel" class="form-control" placeholder="Logiciel" value="" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<h5 class="text-black">Languages:</h5>	
				</div>
				<div class="col-sm-6">
					<input type="text" name="Language" id="Language" class="form-control" placeholder="Language" value="" required>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<h5 class="text-black">Système d'exploitation:</h5>	
				</div>
				<div class="col-sm-6">
					<input type="text" name="sys_exp" id="sys_exp" class="form-control" placeholder="Système d'exploitation" value="" required>
				</div>
			</div>
			<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
		  </div>
		  
		</div>
		
	  </div>
	  <div class="card">
		<div class="card-header" role="tab" id="accord3">
		  <h5 class="mb-0">
			<h3 class="pt-5 " data-toggle="collapse" href="#collapse-pane-3" role="button" aria-expanded="false" aria-controls="collapse-pane-3">
			 LANGUES
			 <span class="pull-right">
				<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
			  </span>
			</h3>
		  </h5>
		</div>
		<div id="collapse-pane-3" class="collapse" role="tabpanel" aria-labelledby="accord3" data-parent="#demo-accordion-collapse">
		  <div class="card-body">
			<div class="py-5">
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="text" name="title" id="title" class="form-control" placeholder="Tittle" value="" required>	
													
					</div>
					<div class="col-sm-6">
						<input type="text" name="niveau" id="niveau" class="form-control" placeholder="Niveau" value="" required>							
					</div>
				</div>
				<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
			</div>	
		  </div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="accord4">
			  <h5 class="mb-0">
				<h3 class="pt-5 " data-toggle="collapse" href="#collapse-pane-4" role="button" aria-expanded="false" aria-controls="collapse-pane-4">
				 FORMATION
				 <span class="pull-right">
					<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
				  </span>
				</h3>
			  </h5>
			</div>
			<div id="collapse-pane-4" class="collapse" role="tabpanel" aria-labelledby="accord4" data-parent="#demo-accordion-collapse">
			  <div class="card-body">
				<div class="form-group row">
					<div class="col-sm-6">
						<h5 class="text-black">Date début:</h5>
							<input type="date" name="year" id="year" class="form-control" value="" required>					
					</div>
					<div class="col-sm-6">
						<h5 class="text-black">Date fin:</h5>
							<input type="date" name="year" id="year" class="form-control" value="" required>					
					</div>							
				</div>
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="text" name="diplome" id="diplome" class="form-control" placeholder="Diplôme" value="" required>
													
					</div>
					<div class="col-sm-6">
						<input type="text" name="institute" id="institute" class="form-control" placeholder="Institute" value="" required>	
						
					</div>
					
				</div>
				<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="accord5">
				  <h5 class="mb-0">
					<h3 class="pt-5 " data-toggle="collapse" href="#collapse-pane-5" role="button" aria-expanded="false" aria-controls="collapse-pane-5">
					 EXPERIENCE
					 <span class="pull-right">
						<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
					  </span>
					</h3>
				  </h5>
				</div>
				<div id="collapse-pane-5" class="collapse" role="tabpanel" aria-labelledby="accord5" data-parent="#demo-accordion-collapse">
				  <div class="card-body">
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="text" name="poste" id="poste" class="form-control" placeholder="Poste" value="" required>				
						</div>
						<div class="col-sm-6">
							<input type="text" name="société" id="société" class="form-control" placeholder="Société" value="" required>						
						</div>
					</div>
					<div class="form-group row">
								
						<div class="col-sm-6">
							<h5 class="text-black">Date début:</h5>
							<input type="date" name="year" id="year" class="form-control" value="" required>					
						</div>
						<div class="col-sm-6">
							<h5 class="text-black">Date fin:</h5>
							<input type="date" name="year" id="year" class="form-control" value="" required>					
						</div>							
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="10" name="description" placeholder="Description" required></textarea>
					
				</div>
				<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
				  </div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="accord6">
					  <h5 class="mb-0">
						<h3 class="pt-5 " data-toggle="collapse" href="#collapse-pane-6" role="button" aria-expanded="false" aria-controls="collapse-pane-6">
						 CENTRE D'INTERET
						 <span class="pull-right">
							<i type="button"class="fa fa-edit " aria-hidden="true"></i> 
						  </span>
						</h3>
					  </h5>
					</div>
					<div id="collapse-pane-6" class="collapse" role="tabpanel" aria-labelledby="accord6" data-parent="#demo-accordion-collapse">
					  <div class="card-body">
						<div class="form-group row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="title" id="title" class="form-control" placeholder="Title" value="" required>
								</div>
								
							</div>
						</div>	
						<button type="button"style="font-size:18px" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Terminé</button>
					  </div>
					</div>
	</div>
	
	</div>



