
<div class="w-100 title-dialog">
    <H2>Interview</H2>
    <hr>
</div>


<div mat-dialog-content class="dialog-user" style="width: 500px;">
    <form >
        <div class="row">
            <div class="col-12">
                <label for="">Date interview</label>
                <input class="form-control" type="date" name="dateEntretien">
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <label for="">Description</label>
                <textarea class="form-control" name="desc" id="desc" cols="3" rows="3"></textarea>
            </div>
            <div class="col-6" style="margin-top: 20px;">
                <button class="btn btn-success">Add interview</button>
            </div>
        </div>
    </form>
</div>