p, .more, .form-control, .readlink, .readmores, li, td{
    color: #4b4b4b !important;
	font-size: 15.96px !important;
	font-weight: 500 !important;
}
.experience-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .experience-index {
    background-color: #ccc;
    color: #4b4b4b;
    padding: 10px;
    font-size: 15.96px !important;
	font-weight: 500 !important;
  }
  input.form-control {
    transition: border-color 0.3s ease;
    }
    
    input.form-control:focus {
    border-color: #ff0000;
    }
    
    input.form-control.ng-invalid {
    border-color: #ff0000;
    animation: shake 0.5s;
    }
    
    @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
    }  
  